{% extends 'base.html' %}

{% block title %}
Добавить друга
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1>Добавить друга</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя"><br>
        <input type="text" name="age" id="age" class="form-control" placeholder="Введите возраст"><br>
        <textarea name="story" id="story" class="form-control" placeholder="Пишите что хотите"></textarea><br>
        <input type="submit" class="btn btn-success" value="Добавить"><br>
    </form>
</div>
{% endblock %}