{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Редактирование</h1>
        <form method="post">
            <input type="text" name="name" id="name" class="container form-control" value={{friend.name}} placeholder="Введите имя"><br>
            <textarea name="age" id="age" class="container form-control" placeholder="Введите возраст">{{ friend.age }}</textarea><br>
            <textarea name="story" id="story" class="container form-control" placeholder="Введите текст">{{ friend.story }}</textarea><br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" class="btn btn-success" value="Обновить">
                </div>
        </form>
    </div>
{% endblock %}