{% extends 'base.html' %}

{% block title %}
Редактирование статьи
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Редактирование статьи</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="container form-control" value={{article.title}} placeholder="Введите название"><br>
            <textarea name="intro" id="intro" class="container form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
            <textarea name="text" id="text" class="container form-control" placeholder="Введите текст">{{ article.text }}</textarea><br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" class="btn btn-success" value="Обновить">
                </div>
        </form>
    </div>
{% endblock %}